.loader-container{
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    border: 10px solid black;
    animation: rotate 2s forwards infinite;
    border-radius: 50%;
    border-top-color: #2f27ce;
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}