.masonry {
    position: relative; 
    width: 100%; 
}
#masonry-item{
    figure{
        width: 100%;
        margin: 0;
        img{
            width: 100%;
        }
    }
    max-width: 12vw;
    padding: 1vw;   
    text-wrap: wrap; 
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
    transition: filter .5s ease-in-out;
}
#masonry-item:hover{
    filter: invert(10%);
}
html,body,#root{
    height: min-content;
}
@media (max-width: 950px) {
    #masonry-item{
        max-width: 15vw;
    }
}
@media (max-width: 914px) {
    #masonry-item{
        max-width: 17vw;
    }
}
@media (max-width: 765px) {
    #masonry-item{
        max-width: 21vw;
    }
}
@media (max-width: 615px) {
    #masonry-item{
        max-width: 25vw;
    }
}